.about-section {
  padding-top: 10rem;
  background: linear-gradient(to bottom, $black 0%,#{fade-out($black, .1)} 75%,#{fade-out($black, .2)} 100%);
  p {
    margin-bottom: 5rem;
  }

  .facebook-responsive {
      overflow:hidden;
      padding-bottom:56.25%;
      position:relative;
      height:0;
  }

  .facebook-responsive iframe {
      left:0;
      top:0;
      height:100%;
      width:100%;
      position:absolute;
  }
}
